body {
	background-color: rgb(175,0,255);
}

#hero {
	text-align: center;
}

button {
	width: 80%;
	height: 40px;
	margin: 0 10%;
	float: left;
}

button.answerchoice {
	display: none;
}

button:hover {
	background-color: blue;
	color: white;
}

.answers div {
	margin: 0 auto;
}

img {
	height: 400px;
	width: 800px;
}

h1, h2, h3, .question {
	text-align: center;
}